/*!
 * SAPUI5
 * (c) Copyright 2009-2022 SAP SE. All rights reserved.
 *//*!
 * SAPUI5
 * (c) Copyright 2009-2022 SAP SE. All rights reserved.
 */.sapUiAccKeysHighlighDom:first-letter{text-decoration:underline 20% black}/*!
 * SAPUI5
 * (c) Copyright 2009-2022 SAP SE. All rights reserved.
 */.sapUiExportSettings .sapUiExportSettingsLabel>.sapMLabel::after{content:":"}.sapContrastPlus.sapUiAccKeysHighlighDom:first-letter,.sapContrastPlus .sapUiAccKeysHighlighDom:first-letter{text-decoration:underline 20% black;}

