/* Enter your custom styles here */
.agasown .sapMPageHeader {
  background: transparent linear-gradient(0deg, #d5b167 0%, #f3da9c 47%, #e5b644 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.agasown .sapMShellGlobalOuterBackground{
  background: #3f183b;
}
.agasown .sapUiBody{
  color: #3f183b;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
/* ------------menu hover-------------- */
.menu {
  background-color: transparent;
  border: none;

}

.menu .sapMBtnIcon {
  color: #3f183b;
  cursor: pointer;
}

.menu .sapMBtnIcon:hover {
  color: #df3165;
}


/* ------------menu hover--end---------------- */

/*-------------------- footer css------------ */
.footter {
  background: transparent linear-gradient(0deg, #d5b167 0%, #f3da9c 47%, #e5b644 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footter  .imageLogo{
  width: 150px;
  height: 120px;

}

.footter .sapMLnk {
  color: #3f183b;
}

.footter .sapMLnk:hover {
  color: #df3165;
  border-bottom: none;
}

.footter .sapMText {
  margin-bottom: 25px;
  font-size: 1.875rem;
}

.footter .sapMListHdrText {
  margin-bottom: 25px;
  font-size: 1.875rem;
  border-bottom: none;
}

.footter .fotterAvatar .icon{
  color: #3f183b;
}

.footter .fotterAvatar .icon:hover {
  color: #df3165;
}

/*-----------------footer css end ------------*/

/*text*/
.agasown .sapMTitle {
  color: #3f183b;
  text-align: center;
  letter-spacing: 1.2px;
  opacity: 1;
}

/*currency number*/
.agasown .sapMObjectNumber {
  color: #3f183b;
  opacity: 1;
}

/*newsletter*/
.agasown .newsletter {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.73;
}

.agasown .newsletterBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* --------------home css start------------------ */

/*Search*/
.agasown .sapMSFB {
  color: #fff;
  background: #df3165 0% 0% no-repeat padding-box;
}

/*Category*/
.categoryBox {
  position: relative;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

.categoryBox:hover {
  transform: scale(1.1, 1.1);
}

.categoryBoxText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  background: #df3165;
  width: 90%;
  height: 30px;
  line-height: 25px;
}
  

.vbox-c-home div:nth-child(1) img {
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

.vbox-c-home div:nth-child(1) img:hover {
  transform: scale(1.1, 1.1);
}

.vbox-c-home div:nth-child(4) {
  position: absolute;
  top: 36%;
  display: none;
}

.vbox-c-home div:nth-child(4) button span {
  background-color: #3f183b;
  color: #f1f1f1;
}

.vbox-c-home:hover div:nth-child(4) {
  display: inline-block;
}

.vbox-c-home:hover div:nth-child(4) button span {
  background-color: #3f183b;
  color: #f1f1f1;
}

/*------------------ home css end---------------- */
/*panl Tile*/
.agasown .panelTitle {
  float: left;
  color: #3f183b;
  text-transform: uppercase;
  opacity: 1;
}


/*---------------- header fragment css start ------------------ */
/* my code ... */
.headerBar {
}


.headerBar .sapMImg {
  width: 150px;
  object-fit: cover;
}

/*---------------- header fragment css end ------------------ */

/* ------------------product detail start--------- */

.vbox-abs:hover .image-abs {
  transform: scale(1.2, 1.1);
}



.btn-abs {
  color: white;
  background-color: #3f183b;
}

.checkoutSteps .sapMWizardProgressNavStepCircle {
  background-color: #df3165;
  border: #df3165 2px;
  color: white !important;
  background-color: #df3165;
}

/* checkout page nav bar */
.sapMWizardProgressNav {
  padding: 1rem 0.5rem;
  margin-top: 46px;
  background-color: rgb(254, 253, 252) !important;
}

/* ------------------product detail end--------- */


.fotterLink .link{
  color: #3f183b;
}

.fotterLink .link:hover{
  color: #df3165;
}

.fotterAvatar .logo {
  border: none;
  color: #3f183b;
}

.fotterAvatar .logo:hover {
  color: #df3165;
}

.agasown .sapMBtnIcon:active {
  color: #df3165;
  background: transparent;
}

.agasown .menusapMBtnIcon:hover {
  color: #df3165;
  background: transparent;
}

.agasown .logo .sapMImg {
  width: 150px;
  height: fit-content;
  object-fit: contain;
}

.agasown .categoryLogo .sapMImg {
  width: 150px;
  height: fit-content;
  object-fit: contain;
}

.agasown .categoryLogo .sapMImageContent {
  width: 6rem;
}

.agasown .menuBorder {
  border-right: solid;
}

.agasown .menuLinks {
  color: #3f183b;
  height: 32px;
  line-height: 32px;
}

.agasown .menuLinks1 {
  color: #3f183b;
  display: block;
  height: 62px;
  line-height: 32px;
  border-radius: 16px 0 0 16px;
  font-size: 14px !important;
}
.agasown .menuLinks:active {
  color: #df3165;
}

.agasown .menuLinks:hover {
  color: #df3165;
  text-decoration: none !important;
}

.agasown .icon {
  color: #3f183b;
}

.agasown .icon:hover {
  color: #df3165;
}

.agasown .welcomeCarouselText {
  color: white;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  text-shadow: 0 0 0.125rem black;
}

.agasown .images {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
}

.agasown .imageLink {
  text-align: center;
  color: black;
  font-size: 1rem;
}

.agasown .imageLink:hover {
  text-align: center;
  color: black;
}

/* Style the tab */
.agasown .tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.agasown .tab a {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.agasown .tab a:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.agasown .tab a.active {
  background-color: #ccc;
}

/* Style the tab content */
.agasown .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

.agasown .fotter {
  background: transparent linear-gradient(180deg, #d5b167 0%, #f3da9c 47%, #e5b644 100%) 0% 0% no-repeat padding-box;
}

.agasown .fotter .imageFotter {
  height: fit-content;
}

.agasown .productName {
  font-size: 15px;
}

.agasown .priceStatusBox {
  border-bottom: 1px solid black;
}

/* instock color chnage */
.agasown .productStatus {
  color: green;
}
.agasown .productStatus2 {
  color: red;
}

.productCart {
  background-color: #df3165;
  border-left-style: outset;
  border: none;
  border-radius: 25px;
  color: #fff !important;
  width: 150px;
}

.productCart:hover {
  /* background-color: #3F183B !important; */
  color: #3F183B !important;
  cursor: pointer;
}

.productCart:active {
  background-color: #3F183B !important;
  color: #fff !important;
  cursor: pointer;
}

.slideshow .big img {
  height: 360px;
  border: 1px solid #3f183b;
  border-radius: 25px;
}

.productBuyNow {
  color: #fff;
  background-color: #3F183B;
  border-radius: 25px !important;
  width: 100%;
  border: 0px;
  min-width: 30% !important;
  cursor: pointer;
}

.productBuyNow:hover {
  color: #df3165 !important;
  border: 0px;
}

.dialogCloseBtn {
  background: white;
  border: none;
}

.dialogCloseBtn .sapMBtnIcon {
  color: #3f183b;
  cursor: pointer;
}

.dialogCloseBtn .sapMBtnIcon:hover {
  color: #df3165;
}

.dialogTitle {
  color: #3f183b;
  font-size: larger;
}

.dialogLabel {
  color: #c6c6c6;
}

.dialogLabel1 {
  color: #666;
}

.dialogSubmit {
  background-color: #3f183b;
  color: #fff;
  border-radius: 2.2rem;
  width: 128px;
  cursor: pointer;
  border: none;
}

.dialogSubmit:hover {
  color: #df3165;
}

.withSubmit {
  background-color: #df3165;
  width: 100%;
  color: #fff;
  height: 49px;
  border-radius: 2.2rem;
  cursor: pointer;
  border: none;
  right: 10px;
}

.withSubmit:hover {
  color: #3f183b;
}
.twoButtons{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/**************
*  Login Dialog Begin
***************/

.loginDialog .loginPasswordForget:hover {
  color: #3f183b;

  
}

.loginDialog .loginPasswordForget {
  background-color: #df3165;
  color: #fff;
  border-radius: 2.2rem;
  width: 123px;
  cursor: pointer;
  border: none;
}

.loginDialog .loginSignUp {
  color: #3f183b;
}
.loginDialog .loginSignUp:hover {
  color: #df3165;
}
.loginDialog .sapMLnk:hover:not(.sapMLnkDsbl) {
  color: #df3165 !important;
}

/**************
*  Login Dialog End
***************/
.overviewImage {
  object-fit: cover;
  padding: 0 70px;
}

.overviewHeader {
  color: black;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cus_layout> :last-child {
  width: 100%;
}


.sideNavText {
  color: #000;
  font-size: 20px;
  padding: 5px;
  border-radius: 7px;

}

.sideNavText:hover {
  color: #df3165;
  cursor: pointer;
}

.sideNavBtn {
  background: transparent;
  color: #3f183b;
  border: none;
  cursor: pointer;
}

.sideNavBtn:hover {
  color: #df3165;
}

/***Cart CSS***/
.cartButtonCheckOut {
  background-color: #df3165;
  border: none;
  color: #fff;
  cursor: pointer;
}

.cartButtonCheckOut:hover {
  color: #3f183b;
}

.cartButton {
  border: none;
  background-color: #3f183b;
}

.cartButton .sapMBtnIcon {
  color: #fff;
  cursor: pointer;
}

.cartButton .sapMBtnIcon:hover {
  color: #df3165;
}

.logerName {
  width: -webkit-fill-available;
}

#container-agasown---checkout--orderSummaryStep-nextButton {
  display: none !important;
}

/* #__hbox37{
  display: flex !important;
  flex-direction: column !important;
} */
.hbox5 {
  display: flex !important;
  flex-direction: column !important;
}

/* Registration Fragment.xml */

#container-agasown---home--registrationDialog-cont {
  width: 50rem !important;
}

.registrationText {
  color: #DF3165 !important;
  font-size: 25px;
}

.div {
  width: 100% !important;
  position: relative;
}

.lnLabel,
.cpLabel {
  width: 48% !important;
  left: 52% !important;
  position: absolute !important;
  bottom: 3.2rem;
}

.cpLabel {
  bottom: 4rem !important;
}

.fnLabel,
.fnInput,
.pwLabel,
.pwInput {
  width: 48% !important;
}

.lnInput,
.cpInput {
  width: 48% !important;
  left: 52% !important;
  position: absolute !important;
  bottom: 32% !important;
}

.dialogSubmitNew {
  background-color: #df3165;
  color: #fff;
  border-radius: 2.2rem;
  width: 163px;
  cursor: pointer;
  border: none;
  font-size: 20px !important;
}

.dialogSubmitNew:hover {
  color: #df3165;
  background-color: #3F183B;
}



.lastBox {
  margin-top: 1rem;
}

.returnCustomer {
  color: #ABABAB !important;
  padding-left: 5px !important;
}

.loginButton {
  padding-left: 2px !important;
  color: #637ED6 !important;
}

/* AboutUs Page  */
.aboutUs {
  border: 1px solid #707070;
}


.AboutUs {
  padding: 30px 0;
  font-size: 35px;
  font-weight: 900;
  color: #3f183b;
}

.AboutUs_text {
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  color: #1A1A1A;
  letter-spacing: 1px;
  text-align: left;
  font-family: "Poppins";
}

.centerVBox {
  width: 370rem;
}
.centerVBox1 {
  width: 100%;
}

.lastVBox {
  width: 160%;
}

.continue_shopping {
  color: white;
  width: 100%;
  min-width: 2.25rem;
  background-color: #1A1A1A;
  letter-spacing: 1px;
  margin: 20px 0;
  border: 1px solid #1A1A1A;
  font-size: 15px;
}

.continue_shopping:hover {
  color: #fafafa;
  background-color: #df3165;
  border: 1px solid #df3165;
}

.latestProducts {
  font-size: 15px;
  padding-top: 60px;
  font-weight: 500;
  width: 100%;
  text-align: center !important;
}

.mt4 {
  margin-top: 40px !important;
}

.firstVBox {
  width: 150%;
  padding-top: 85px;
}

.moreText {
  margin-top: 20px;
}

/* Personal Details  */
.distance {
  padding: 0px 20px;
}

.semi {
  right: 80px;
}


.final {
  margin-left: 82px !important;
}


.buttonEdit {
  cursor: pointer;
  background-color: #3F183B;
  border: 1px solid #3F183B;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color:#fff;
}
.buttonSave {
  background-color: #df3165;
  border: 1px solid #df3165;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 700;
}
.buttonSave:hover{
  color: #3f183b;
  font-weight: 700;
  cursor: pointer;
}

.buttonEdit:hover {
  color: #df3165;
  font-weight: 700;
  cursor: pointer;
}
.customerTile .sapMGTHdrTxt>.sapMText{
  color: #3f183b;
}
.customerTile .sapMImageContentImageIcon.sapUiIcon{
  color: #3f183b;
}
.customerTile .sapMImageContentImageIcon.sapUiIcon:hover{
  color: #df3165;
}
.customerTab .sapMITH{
  box-shadow: none;
  border-bottom: 0.125rem solid #3f183b;
}
.customerTab .sapMITBFilterDefault{
  color: #3f183b;
}
.customerTab .sapMITBContentArrow{
  color: #3f183b;
}
.customerTab .sapMITBFilterDefault.sapMITBSelected .sapMITBText{
  color:#3F183B;
}
.customerTab .sapMITBSelected .sapMITBContentArrow{
  color: #3f183b;
  border-bottom-color:#3f183b
}
.customerTab .sapMITBSelected .sapMITBContentArrow:hover{
  color: #df3165;
  border-bottom-color:#df3165;
}

.customerTab  .sapMITBFilterDefault.sapMITBSelected .sapMITBText:hover{
  color: #df3165;
}

.email_left {
  left: 20px;
}

.EditButton {
  left: 267px !important;
}

.topBottom {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.topBottoms {
  margin-top: 10px;
  padding-bottom: 20px;
}

.testtwo {
  border: khaki;
}

/* ContactUs Page  */
.send_message {
  color: white;
  width: 21.5%;
  min-width: 8.5rem !important;
  background-color: #1A1A1A;
  letter-spacing: 1px;
  margin: 20px 0;
  border: 1px solid #1A1A1A;
  font-size: 15px;
}

.f_Hbox {
  justify-content: space-between !important;
  display: flex !important;
}

.centerVBox_ContactUs {
  padding: 0 100px !important;
}

.ln_contactUs,
.on_contactUs {
  width: 100% !important;
  min-width: auto !important;
}

.fn_contactUs,
.em_contactUs {
  width: 100% !important;
  min-width: auto !important;
}

/* Order Page  */
.continueShopping {
  background-color: #3F183B;
  color: white;
  width: 75% !important;
  min-width: 7rem !important;
  margin: 2% 12% !important;
  border-radius: 20px;

}

.overviewHeaderBold {
  text-align: left;
  font-size: 50px;
  color: #1a1a1a;
  font-weight: 900;
}

.leftSpace {
  padding: 0 30px;
}

.shoppingText {
  font-size: 20px;
  font-weight: 900;
}

.checkText {
  padding: 8px 75px;
  color: #1a1a1a;
  font-size: 15px;
  font-weight: 500;
}

.extra_cs {
  width: 25% !important;
  min-width: 10rem !important;
  margin: 2px 53px !important;
}

.bcEF {
  background-color: #EFEFEF;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.proImage {
  width: 15vw;
}

/* Voucher CSS  */
.widthso {
  padding: 60px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

#__data21 {
  width: 100% !important;
}

.voucher {
  width: 100% !important;
  padding: 0px 15px;
}

.voucherText {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0;
  margin-bottom: 25px !important;
}

.voucherCredit {
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 7px 0;
}

.downLine {
  border-bottom: 2px solid #1a1a1a;
  padding-bottom: 5px;
}

.upLine {
  padding: 20px 0;
}

.giftCard {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 0px;
}

.giftCardCode {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.redeem {
  justify-content: start !important;
}

.giftCard_input {
  width: 120% !important;
  min-width: 3rem !important;
  border: 1px solid #a1a1a1;
}

.redeemButton {
  width: 100%;
  min-width: 3.25rem;
  height: 40px;
  top: 3px;
  margin-left: 80px !important;
  padding: 0 20px;
  background: #df3165;
  border: 1px solid #df3165;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;

}


.redeemButton:hover {
  background-color: #3f183b;
  border: 1px solid #3f183b;
  /* color: #df3165 !important; */
}


/* Overview CSS  */
.continue_shoppings {
  left: 7%;
  min-width: 10rem !important;
  color: white;
  background-color: #1A1A1A;
  letter-spacing: 1px;
  margin: 20px 0;
  border: 1px solid #1A1A1A;
  font-size: 15px;
}

.continue_shoppings:hover {
  color: #fafafa;
  background-color: #df3165;
  border: 1px solid #df3165;
}

.latest_pro {
  left: 10%;
}

.marginleft {
  margin-left: 10% !important;
}

.addVoucher {
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 30px;
  padding: 5px 30px;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 500;
  width: 20vw;
}

.sideVBox {
  min-width: 27vw;
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 30px;
  /* margin-bottom: 20px; */
}

.totalText {
  padding: 30px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.freeDelivery,
.totalVat {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.deliveryText {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0.5px;
}

.vatText {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.priceText {
  font-weight: 600;
  color: #000000;
}

.overviewHeaderBolds {
  letter-spacing: 0.5px;
  font-size: 20px;
  padding: 12px;
  color: #1a1a1a;
}

.product_title {
  text-align: left;
  font-size: 15px;
  font-weight: 900;
  /* margin: 20px 0; */
  padding-top: 5px;
}

.overallHBox {
  display: flex;
  justify-content: space-between;
}

.overallHBox1 {
  display: flex;
  justify-content: space-between;
}

/* .detailsSec{
  padding: 0 20px;
} */
.product_dimension,
.product_color {
  text-align: left;
  font-size: 13px;
  color: #989898;
  font-weight: 500;
  padding: 5px 0;
}

.product_color {
  font-size: 12px !important;
}

.tryIt {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.specialButtons,
.buttonTexts {
  border: none;
  color: #989898;
}

.product_quantity {
  text-align: left;
  border: 1px solid #989898;
  padding: 10px 50px;
  margin: 15px 0;
}


.section_one {
  width: 90%;
}

.exact_left .product_title {
    margin: 0px 23px !important;
  }

  .specialButtons {
    left: 90%;
  }

  .exact_left {
    align-items: center;
  }

  .exact_right {
    bottom: 300px;
  }

  .panel .product_overall_details {
    display: flex;
    flex-direction: column;
  }


.addDetailsSec {
  display: flex;
  text-align: right;
}

.product_price {
  text-align: right;
  color: #ff3a3a !important;
  padding: 1px 0 !important;
  font-size: 13px !important;
  font-weight: 900 !important;
}

.price_discount {
  font-size: 9px !important;
  text-align: right !important;
  color: #ff3a3a !important;
  font-weight: 600 !important;
}

.upVBox {
  top: 15px !important;
}

/* Checkout Page  */
.product_overall_details {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}

.totalprice_bar {
  background-color: #df3165 !important;
}


.totalPrice_final {
  color: white !important;
}

.pal_payment {
  display: flex !important;
  justify-content: space-evenly;
  padding: 25px !important;
}

.step_left {
  /* background-color: #df3165;
  border: 1px solid #df3165; */
  border-radius: 30px;
  display: flex;
}
.continue_shopping_link {
  width: 100%;
  text-align: right;
  margin: -13px;
  color: #df3165;
}
.pal_pay {
  border: 2px solid #efefef;
  background-color: #efefef;
  padding: 2vw;
  margin: 5px;
  border-radius: 30px;
  width: 40vw;
  height: 30vh;
  min-width: 200px !important;
}

.activate {
  color: white !important;
  background-color: #3F183B !important;
  border: 1px solid #3F183B !important;
}

.bankDetails {
  border-radius: 30px;
  color: #3F183B !important;
  background-color: #efefef;
}

.colorBlack {
  color: #3F183B !important;
  font-weight: 900 !important
}

.colorWhite {
  color: #3F183B;
}

.deliveryAddress_form {
  border-radius: 30px;
  padding: 0 18vw;
}

.form_data {
  /* border: 5px solid #DF3165; */
  background-color: #efefef;
  padding: 2vw;
  border-radius: 30px;
  width: 40vw;
}

.colorwhite {
  color: #efefef !important;
}

.wrong_title {
  background-color: red;
}

.mimimun_list,
.deliveryType {
  width: 100%;
  /* border: 2px solid #DF3165 !important; */
  /* background-color: #DF3165 !important; */
  border-radius: 20px;
  color: #3F183B !important;
}

.deliveryTypetext {
  padding: 10px !important;
  margin: 1px !important;
  background-color: #EFEFEF !important;
  color: #df3165 !important;
  border-radius: 20px !important;
  border: 1px solid #EFEFEF;
}

.amantil {
  width: 299px !important;
}

.mimimum_list {
  width: 40vw !important;
  /* border: 2px solid #df3165 !important; */
  /* background-color: #df3165 !important; */
  border-radius: 20px;
  padding: 2px 8px;
}

.section_one_data {
  background-color: #efefef !important;
  border: 1px solid #efefef !important;
  border-radius: 20px !important;
  margin-top: 1px;
}


.deliveryType_Text {
  border: 1px solid #efefef;
  background-color: #efefef;
  border-radius: 20px;
  padding: 20px;
}

/* Order Summary  */

.topHori {
  display: flex;
  flex-direction: row;
}



.superSpecialButtons {
  border-radius: 33% !important;
}

.image_pro {
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 20px;
}

.product_show {
  background-color: #efefef;
  border-radius: 20px;
  border: 1px solid #efefef;
  margin: 10px 0;
}

.summaryBar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* Newsletter section  */


.details_sec {
  padding: 25px;
}

.pdpVBox {
  display: flex;
}


.place_order_button .sapMBtnInner {
  color: white !important;
  background: #df3165 !important;
  border: 1px solid #df3165 !important;
}

.place_order_button .sapMBtnInner:hover {
  color: white !important;
  background: #450550 !important;
  border: 1px solid #450550 !important;
}

.order_cancel_button .sapMBtnInner {
  color: white !important;
  background: #df3165 !important;
  border: 1px solid #df3165 !important;
}

.order_cancel_button .sapMBtnInner:hover {
  color: white !important;
  background: #450550 !important;
  border: 1px solid #450550 !important;
}


.des_tilte {
  color: #000;
  text-transform: uppercase
}

.des_tilte:hover {
  color: #000;
  text-transform: uppercase
}
  
.productName {
  color: #3F183B;
  font-size: 27px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
}

.log_butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prodDes {
color: #3f183b;
text-align: left;
opacity: 1;
}
.prodThumbBox{
  position: relative;
}
.prodThumbnail {
    width: 5em;
    border-radius: 1em;
    border: 1px solid #3f183b;
}


.productPrice {
  font-size: 20px;
}

.mrButtons {
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
}

.go_to_cus {
  background-color: #d41b52 !important;
  color: white !important;
  border-radius: 40px;
  margin: 10px;
  border: 0px;
  width: -webkit-fill-available;
}

.go_to_cus .sapMBtnIconLeft {
  padding: 0px 5px !important;
}

.go_to_cus:hover {
  background-color: #460339 !important;
  color: white !important;
}


.go_to_cus1 {
  background-color: rgb(0 0 0 / 10%);
  padding: 1px;
  border-radius: 10px;
}

.go_to_cus1 .sapUiIcon::before {
  content: attr(data-sap-ui-icon-content);
  font-weight: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.go_to_cus1 .logerName .sapUiIcon::before {
  color: #df3165;
}



.checkoutSteps .sapMWizardProgressNavStepCircle:hover {
  background-color: pink;
}

.cus_con {
  width: fit-content;
}


.mobileRes {
  display: flex;
  justify-content: space-between;
}

.middleText {
  display: flex;
  justify-content: center;
  background-color: #DF3165;
  border: 2px solid #DF3165;
  border-radius: 4px;
}

.loginSignUp {
  color: white;
  font-weight: 600;
}

.loginSignUp:hover {
  color: white !important;
  text-decoration: none !important;
}

.middleText:hover {
  background-color: #3F183B;
  border: 2px solid #3F183B;
}

.middleText:hover .loginSignUp {
  color: #DF3165;
}

.continue_shopping_link:hover{
  color: #3F183B;
}

.imprintHeader{
  color:#450550;
  font-size: 20px;
  font-weight: 900
}
.imprintContent{
  line-height: 25px;
    font-size: 15px;
    /* word-spacing: 1px; */
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    font-family: "Poppins";
  color:#450550
}
.video{
  object-fit: cover;
    display: block;
    width: 100%;
}

